*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: hsl(217, 28%, 15%);
}
ul{
    list-style: none;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
}

@media(min-width:576px){
    .container{
        width: 540px;
    }
}
@media(min-width:768px){
    .container{
        width: 720px;
    }
}
@media(min-width:992px){
    .container{
        width: 992px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1140px;
    }
}
@media(min-width:1400px){
    .container{
        width: 1320px;
    }
}

header{
    margin-top:40px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            color: white;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            li:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .burger{
            display: none;
        }
    }
}
// section one
.section-one{
    padding: 60px 0;
    text-align: center;
    img{
        max-width: 100%;
    }
    .text{
        max-width: 600px;
        margin: 20px auto 0;
        color: white;
        p{
            line-height: 1.5;
            margin: 20px auto;
            max-width: 460px;
        }
        button{
            padding: 12px 60px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            border: none;
color: white;
background-color:  hsl(176, 68%, 64%);
font-weight: bold;
cursor: pointer;
}
    }
}
// section one
.section-two{
    background-color: #181F2B;
    padding: 60px 0;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 40px;
    }
    .box{
        text-align: center;
        color: white;
        &:not(:last-child){
        margin-bottom: 30px;
        }
        p{
            max-width: 450px;
            margin: 0 auto;
            line-height: 1.5;
        }
        h3{
            margin: 10px 0;
        }
    }
}
// section three
.section-three{
    background-color: #181F2B;
    padding: 60px 0;
    .container{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
        img{
            max-width: 100%;
        }
        .text{
            color: white;
            h1{
                font-size: 2.5rem;
            }
            p{
                    margin: 20px 0;
                    line-height: 1.5;
                    font-size: 15px;
            }
            span{
                font-size: 14px;
                &:hover{
                    color: hsl(176, 68%, 64%);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}
// section three
//section four
.section-four{
    padding: 60px;
    background-color: #181F2B;

    .container
{
        .access{
            max-width: 800px;
            margin: 0 auto;
            padding: 30px 70px;
            text-align: center;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            background-color: #181F2B;
            box-shadow: 5px 0 15px 0px rgba(10, 10, 10, 0.783);
            transform: translateY(65%);
            -webkit-transform: translateY(65%);
            -moz-transform: translateY(65%);
            -ms-transform: translateY(65%);
            -o-transform: translateY(65%);
h2
{
                color: white;
            }
            p{
                color: white;
                margin: 25px  auto;
                line-height: 1.5;
                font-size: 15px;
                max-width: 650px;
            }
            .form{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                input{
                    flex: 2;
                    padding: 12px 20px;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                }
                button{
                    cursor: pointer;
                    background-color: hsl(176, 68%, 64%);
                    color: white;
                    padding: 12px 60px;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                    border: none;
                }
            }
        }
     .container-2{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        position: relative;
     }
        & > img{
            position: absolute;
            z-index: 1;
            transform: translate(20px,-70%);
            -webkit-transform: translate(20px,-70%);
            -moz-transform: translate(20px,-70%);
            -ms-transform: translate(20px,-70%);
            -o-transform: translate(20px,-70%);
}
        .box{
            background-color: hsl(217, 28%, 15%);
            padding: 30px;
            position: relative; 
            z-index: 2;
            p{
                color: white;
                &:first-child{
                    font-size: 14.5px;
                    line-height: 1.5;
                    }
            }
            .profile{
                display: flex;
                align-items: center;
                margin-top: 20px;
                gap: 15px;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
}
span{
    color: rgb(131, 131, 131);
    font-size: 12px;
}
            }
        }
    }
}
//section four
footer{
    background-color: hsl(216, 53%, 9%);
    padding: 100px 0 ;
    color: white;
    .container{
     .list{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        & > div{
display: flex;
gap: 20px;
align-items: flex-start;
&.position{
    p{
        font-size: 14px;
        line-height: 1.5;
    }
}
&.contact{
    flex-direction: column;
    padding-left: 20px;
        & > div{
        display: flex;
        align-items: center;
    }
}
&.uls{
    gap: 40px;
 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .socials{
    display: flex;
    gap: 15px;
 }
}
        }

     }
    }
}
@media(max-width:768px){
    .section-three{
        .container{
            flex-direction: column;
            .text{
                h1{
                    font-size: 20px;
                }
            }
        }
    }
    .section-four{
        .container{
            .access{
                padding: 30px;
                transform: translateY(50%);
                -webkit-transform: translateY(50%);
                -moz-transform: translateY(50%);
                -ms-transform: translateY(50%);
                -o-transform: translateY(50%);
                                                .form
{
                    flex-direction: column;
                    input{
                        width: 100%;
                    }
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
    footer{
        padding: 150px 0 60px;
        .list{
            .contact{
                padding: 0 !important;
            }
            .uls{
                flex-direction: column;
                .socials{
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}